/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Color Styles
  4. Structural Styles
  5. Sitewide Styles
  6. Component Styles
  7. Page Styles
======================================== */


/* 1. Global Styles
======================================== */

* {
    margin: 0;
    padding: 0;

}


/* 2. Typography Styles
======================================== */
html {
    font-family: 'Noto Sans JP', sans-serif;
    font-Size: 14px;
    color: black;
}

h1, 
h2, 
h3 {
    font-family: 'Merriweather', serif;    
}

h1 {
  font-size: 1.5rem;
}


.main-heading {
  color: var(--primary);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.subheading {
  color: var(--secondary);
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}


/* 3. Color Styles
======================================== */
:root {
    --primary: #162d50;
    --primarylight: #5f8dd3;
    --secondary: #214478;
    --cta: #501622;
}


/*4. Structural Styles
======================================== */
.left-section-box {  
  border-left: none;
  border-radius: 0 3rem 3rem 0;
  padding: 3rem;
  background: #5f8dd323;
  box-shadow: 0 5px 10px 0 var(--secondary);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 4.0px );
}

.right-section-box {
  
  margin: 5rem 0 5rem 2rem;
  border-left: none;
  border-radius: 3rem 0 0 3rem;
  padding: 3rem;
  background: #5f8dd323;
  box-shadow: 0 5px 10px 0 var(--secondary);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 4.0px );
}



/* 5. Sitewide Styles
======================================== */

/* ||Navigation menu---------------------*/

/* Style the navigation menu */
.menu {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    padding: 2px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #mylinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .menu a.icon {
    background: var(--primarylight);
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  /* Add a hover */
  .menu a:hover {
    background-color: var(--secondary);
    color: white;
  }

  .logo a:hover {
    background-color: var(--primary);
    color: white;
  }
  
  .logo {
      height: 50px;
  }

  .logo img {
      width: 64px;
      margin-top: -20px;
      padding-bottom: 50px;
  }


/* ||Footer---------------------*/


  

/* 6. Component Styles
======================================== */
img {
    width: 100%;
}

/* ||Buttons------------------------------*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8rem;
  height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.3rem;

  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;   

  color: white;
  border-radius: 2rem;
  border: 0.05rem solid var(--cta);
  box-shadow: 0 0.15rem #2e191d;

  transition: background-color 0.3s ease-out;

}


.button:hover {
  margin-top: 2.15rem;
  box-shadow: none;
  background-color: var(--primarylight);
}

.button:active {
  margin-top: 2.15rem;
  box-shadow: inset 0.15rem 0.15rem 0.15rem  var(--secondary);
  color: white
}


.primary-button {
  background-color: var(--cta);
}

.secondary-button {
  background-color: var(--cta);
}



/* 7. Page Styles
======================================== */

main {
  
  background: linear-gradient( to bottom left, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.637)), 
              url(/KBT/resources/media/Mobile-merak5.png)
              no-repeat fixed;
  background-size: cover;
}


/* ||main banner----------------------------- */
.hero {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  width: 100%;

}

.page-hero {  
  background: url(/KBT/resources/media/navy\ wawes-2.svg)
              no-repeat;
  
  background-size: cover;         
  background-position: top right;     
  display: flex;
  flex-flow: column;
  justify-content:flex-start;
  align-items: center;  
  height: 48rem;
  width: 100%;
}

.hero-heading {
  color: white;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.hero-heading span {
  color: var(--primarylight);
  font-size: 1.5rem;
}

.hero-subheading {
  color: white;
  font-size: 1.1rem;
}


/* ||section introduction----------------------- */

.introduction {
  margin: -6rem 2rem 0 0;
}
 

/* ||section services----------------------- */



.infobox {
  margin: 2rem ;
  border-left: none;
  border-radius: 3rem;
  padding: 3rem;
  background: #5f8dd325;
  box-shadow: 0 5px 10px 0 var(--secondary);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 4.0px );

}
 